[submodule "ansible-hortonworks"]
	path = ansible-hortonworks
	url = ../ansible-hortonworks.git
[submodule "ansible/roles_ext_pub/ranger_modules"]
	path = ansible/roles_ext_pub/ranger_modules
	url = ../ranger_modules.git
[submodule "ansible/roles_ext_pub/ansible-role-postgresql"]
	path = ansible/roles_ext_pub/ansible-role-postgresql
	url = ../ansible-role-postgresql.git
[submodule "ansible/roles_ext_pub/ansible-users"]
	path = ansible/roles_ext_pub/ansible-users
	url = ../ansible-users.git
[submodule "ansible/roles_ext_pub/ansible-sudoers"]
	path = ansible/roles_ext_pub/ansible-sudoers
	url = ../ansible-sudoers.git
[submodule "ansible/roles_ext_pub/kerberos_server"]
	path = ansible/roles_ext_pub/kerberos_server
	url = ../kerberos_server.git
[submodule "cloudera-playbook"]
	path = cloudera-playbook
	url = ../cloudera-playbook.git
[submodule "prereq-checks"]
	path = prereq-checks
	url = ../prereq-checks.git
[submodule "ansible/roles_ext_pub/kerberos_principals"]
	path = ansible/roles_ext_pub/kerberos_principals
	url = ../kerberos_principals.git
[submodule "ansible/roles_ext_pub/kerberos_kinit"]
	path = ansible/roles_ext_pub/kerberos_kinit
	url = ../kerberos_kinit.git
[submodule "ansible/roles_ext_pub/ansible-hdfs-dirs"]
	path = ansible/roles_ext_pub/ansible-hdfs-dirs
	url = ../ansible-hdfs-dirs.git
